<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Mario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script type="text/javascript" src="<%= reader_url %>?<%= timestamp %>"></script>
  <style type="text/css">
    html,body {
      background-color: #000;
      color: #fff;
      font-family: helvetica, arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 12pt;
    }
    
    #canvas {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 1px solid #555;
      width:99.5%;
    }
  </style>
</head>
<body>
  <canvas id="canvas"></canvas>
</body>
</html>
