<!DOCTYPE html>
<html>
<head>
  <title>smb prototype by fp</title>
  <style type="text/css">
    html,body {
      background-color: #000;
      color: #fff;
      font-family: helvetica, arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 12pt;
      text-align: center;
    }

    #intro {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .description {
      max-width: 780px;
      align-self: center;
      text-align: left;
    }

    #loadgame {
      align-self: center;
      border-radius: 6px;
      height: 40px;
      padding: 0.6em;
      width: 120px;
      background-color: lightcoral;
      color: white;
      border: none;
    }
    
    #canvas {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 1px solid #555;
    }
  </style>
</head>
<body>
  <div id="intro">
    <h1>Super Mario Bros</h1>
    <h3>JavaScript prototype, written using ImpactJS</h3>
    <div class="description">
      <p>In 2010, <a href="https://en.wikipedia.org/wiki/Thoughts_on_Flash" target="_blank">Steve Jobs wrote</a> what became the obituary for Flash applications on the web. My company at the time was heavily reliant on Flash for it's advertising and marketing initiatives and were pushing for more projects to be mobile first and iPad optimized. This piece of news, which solidified Flash never coming to iPhones or iPads, sent them into a panic on future development and ideation.</p>
      <p>At the time, I was their lead interactive developer (fancy talk for Flash developer). While I did my best to ease concerns, explaining Javascript was a capable, if only at the time immature, replacement for our flash projects, there was still a hefty amount of skepticism. So it was on me to show them what was possible. I decided to build something in JavaScript that a) everyone was familiar with so there was no confusion in the result, and b) was highly interactive to push the limits at the time. Super Mario Bros was the most obvious choice.</p>
      <p>This is that demo, and I must emphasis, this is not an emulation (no original ROM file or assets). It's purely JavaScript and PNG sprite files written at 30 frames-per-second to a HTML5 canvas element. It included the first two levels of the original game (minus secret areas and some entities, like the flag pole), along with a custom 3rd level to show some uniqueness.</p>
      <p>While the game still works, time has not been kind to it. Due to browser security updates over the years, background music no longer works (thanks, ads), but luckily all general sound effects still work. Additionally, browser runtimes have been better optimized for the canvas element, which in turn has skewed some of the expected gravity physics.</p>
    </div>
    <button id='loadgame'>Start Game</button>
  </div>
  <script type="text/javascript">
    const intro = document.getElementById('intro');
    const btn = document.getElementById('loadgame');
    btn.addEventListener('click', function() {
      const canvas = document.createElement('canvas');
      canvas.id = 'canvas';
      const script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '<%= game_url %>';

      document.body.appendChild(canvas)
      document.body.removeChild(intro);
      document.head.appendChild(script);

      return false;
    });
  </script>
</body>
</html>
